html{
  background-color: hsl(212, 45%, 89%);
}

.outline{
  background-color: hsl(0, 0%, 100%);
  margin: auto;
  margin-top: 3%;
  width: 12%;
  height: auto;
  padding: 0.9%;
  border-radius: 10px;
}

.qr{
  width: 90%;
  display: block;
  margin: auto;
  border-radius: 10px;
}

.title,
.description{
  text-align: center;
  display: inline-block;
  font-family: 'Outfit', sans-serif;
  width: 50%;
  margin: auto;
  margin-top: 10%;
}

.title{
  font-weight: 700;
  color: hsl(218, 44%, 22%);
  font-size: 1vw;
  text-align: center;
  display: block;
  width: 100%;
}

.description{
  display: block;
  font-weight: 400;
  font-size: 0.85vw;
  color: hsl(220, 15%, 55%);
  margin-bottom: 10%;
  width: 100%;
}

.attribution{
  margin-top: 2%;
}
