html{
  background-color: hsl(212, 45%, 89%);
}

.outline{
  background-color: hsl(0, 0%, 100%);
  margin: auto;
  margin-top: 12vw;
  width: 20vw;
  height: auto;
  padding-top: 0.8%;
  padding-bottom: 1.8%;
  border-radius: 10px;
}

.text{
  display: block;
  margin: auto;
}

.qr{
  width: 90%;
  display: block;
  margin: auto;
  border-radius: 10px;
}

.title,
.description{
  text-align: center;
  display: inline-block;
  font-family: 'Outfit', sans-serif;
  width: 50%;
  margin: auto;
}

.title{
  display: block;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
  font-size: 1.4vw;
  text-align: center;
  width: 80%;
  padding-top: 8%;
}

.description{
  display: block;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
  font-size: 1vw;
  text-align: center;
  width: 80%;
  margin: auto;
  padding-bottom: 4%;
  padding-top: 5%;
}

.attribution{
  margin-top: 2%;
}
